<form id="flavorerForm">
  <h1>{{title}}</h1>
  
  {{#unless showProgressView}}
  {{#unless apiKeyIsInvalid}}
  {{#unless apiKeyHasNoModelAccess}}
  <!-- Tab Navigation -->
  <div class="flexrow tab-navigation">
    <button type="button" id="llmtci-tab-monsters" class="tab-button" data-tab="monsters">
      <i class="fas fa-dragon"></i> Monsters
    </button>
    <button type="button" id="llmtci-tab-items" class="tab-button" data-tab="items">
      <i class="fas fa-sword"></i> Items
    </button>
  </div>
  {{/unless}}
  {{/unless}}
  {{/unless}}
  
  {{#if showProgressView}}
  {{#each tasks}}
  <div class="flexrow">
    <div class="flex2">
      <p>
        <b>{{this.name}}</b>
        {{this.description}}
      </p>

    </div>
    <div class="flex1">
      <div class="flexrow">
        {{#if this.isError}}
        <h4 class="timeElapsedStringError">{{this.timeElapsedString}}</h4>
        <i class="fas fa-exclamation-triangle"></i>
        <p class="error-message">{{this.errorMessage}}</p>
        {{else if this.isComplete}}
        <h4 class="timeElapsedStringComplete">{{this.timeElapsedString}}</h4>
        <i class="fas fa-check"></i>
        {{else}}
        <h4 class="timeElapsedStringLoading">{{this.timeElapsedString}}</h4>
        <div class="loader"></div>
        {{/if}}
      </div>
    </div>
  </div>
  {{/each}}
  {{#unless isLoading}}
  <button type="button" id="llmtci-import-another">Import Another!</button>
  {{/unless}}
  {{else if apiKeyIsInvalid}}
  <p class="error-message">Your OpenAI API Key is invalid! Click below to update it</p>
  <button type="button" id="llmtci-updateAPIKey">Update API Key</button>
  {{else if apiKeyHasNoModelAccess}}
  <p class="error-message">Your OpenAI API Key does not have access to GPT-5, which is currently necessary for this
    importer to work.</p>
  <button type="button" id="llmtci-updateAPIKey">Update API Key</button>
  {{else}}
  
  <!-- Monster Tab Content -->
  <div class="tab-content monster-tab" id="monsters-content">
    {{! Monster Compendium Selector }}
    <label for="llmtci-monster-compendiumSelect">Monster Compendium:</label>
    <select id="llmtci-monster-compendiumSelect" class="form-select">
      {{#each actorCompendiumOptions}}
      <option value="{{this.name}}" {{#if this.isSelected}}selected{{/if}}>
        {{this.label}}
      </option>
      {{/each}}
    </select>
    
    {{! Model Selector }}
    {{#if showModelSelector}}
    <label for="llmtci-modelSelect">Model:</label>
    <select id="llmtci-modelSelect" class="form-select">
      {{#each modelOptions}}
      <option value="{{this.name}}" {{#if this.isSelected}}selected{{/if}}>
        {{this.label}}
      </option>
      {{/each}}
    </select>
    {{/if}}
    
    <div class="flexrow">
      <label>Monster Stat Block:</label>
    </div>
    <div class="flexrow">
      <textarea style="height: 350px" id="llmtci-monster-userText" name="monsterText" placeholder="Paste your monster stat block here..."></textarea>
    </div>
    <button type="submit" id="llmtci-monster-submit">Import Monster</button>
  </div>
  
  <!-- Items Tab Content -->
  <div class="tab-content item-tab" id="items-content" style="display:none;">
    {{! Item Compendium Selector }}
    <label for="llmtci-item-compendiumSelect">Item Compendium:</label>
    <select id="llmtci-item-compendiumSelect" class="form-select">
      {{#each itemCompendiumOptions}}
      <option value="{{this.name}}" {{#if this.isSelected}}selected{{/if}}>
        {{this.label}}
      </option>
      {{/each}}
    </select>
    
    {{! Model Selector }}
    {{#if showModelSelector}}
    <label for="llmtci-modelSelect">Model:</label>
    <select id="llmtci-modelSelect" class="form-select">
      {{#each modelOptions}}
      <option value="{{this.name}}" {{#if this.isSelected}}selected{{/if}}>
        {{this.label}}
      </option>
      {{/each}}
    </select>
    {{/if}}
    
    <div class="flexrow">
      <label>Item Description:</label>
    </div>
    <div class="flexrow">
      <textarea style="height: 350px" id="llmtci-item-userText" name="itemText" placeholder="Paste your item description here (weapons, armor, magic items, etc.)..."></textarea>
    </div>
    <button type="submit" id="llmtci-item-submit">Import Item</button>
  </div>
  
  {{/if}}
</form>